
 * {
  /* La propiedad border-box recalcula el ancho de una caja para que el width sea la estrictamente la suma de border + padding + ancho o altura que sea necesario para que se cumpla. 
  BORDER-BOX NO INCLUYE LOS MÃRGENES! */
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: white;
  border: 2px solid #551955;
  
}
.logo_encabezado{
  width: 60%;
  
  
}


/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #FE8335;
}

/* Style the navigation bar links */
.navbar a {
  color:#551955;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #551955;
  color: #FE8335;
}

.navbar a:active {
  background-color: red;
  color: #FE8335;
}


/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* mainnovedad column */
.main_novedades {
  flex: 70%;
  background-color: white;
  padding: 20px;
  max-width: 100%;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content_novedad {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  .navbar {
    flex-direction: column;
    padding: 1%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/* -----------------------Pag Profes */
.column_profe {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column_profe {
    width: 100%;
    display: block;
  }
}

.card_profe {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container_profe {
  padding: 0 16px;
}

.container_profe::after, .row_profe::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #551955;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color:#FE8335;
}

.pag_nosotros{
  margin: 1%;
}


.container_iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.ubicacion_mapa {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



/*------------------ Talleres*/
/* Column container */
.row_talleres {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side_talleres {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main_talleres {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* TABLAS*/
table{
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}
td,tr,th{
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  min-width: 15%;  
  margin: 0;
}


th{
  color: white;
  background-color: #551955;
  font-size: 18px;
  font-weight: bold;
  border-color:black;
}
.dia{
  background-color: #551955;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-color:black;
  width: auto;
}





/* Footer */
.footer_talleres {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .row,
  .navbar {
      flex-direction: column;
  }
}



/* ------ CONTACTO ---------*/
form{
  width: 80%;
  padding: 2%;
}

input[type=text], select, textarea, input[type=email], input[type="tel"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #551955;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #FE8335;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/*----- PAG EVENTOS*/
.row_eventos {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column_eventos {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column_eventos img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.titulo_evento{
  margin: 1%;
}

.titulo_evento + p{
  margin: 1%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column_eventos {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column_eventos {
    flex: 100%;
    max-width: 100%;
  }
}